<?php
    $date       = date("YmdHis");
    $keyPwd     = 'xxx';
    $keyAlias   = 'xxx';
    $keystore   = '~/xxx/keystore';
    $webPath    = '~/xxx';
    $androidPath= '~/xxx';

<?php
$date       = date("YmdHis");
$keyPwd     = '';
$keyAlias   = '';
$keystore   = '~/.gradle/keystore';
$webPath    = '';
$backPath   = '';
$androidPath= '';

$tupppaiPath= 'ps';
$designPath = 'tupppai-design';
